<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>

{{!-- {{#with (resolvePage page.relativeSrcPath model=false)}}
{{#unless (eq ./asciidoc.attributes.stem undefined)}} --}}
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none",
  tex2jax: { inlineMath: [["\\(", "\\)"]], displayMath: [["\\[", "\\]"]], ignoreClass: "nostem|nolatexmath" },
  asciimath2jax: { delimiters: [["\\$", "\\$"]], ignoreClass: "nostem|noasciimath" },
  TeX: { equationNumbers: { autoNumber: "none" } }
});
</script>
{{!-- {{/unless}}
{{/with}} --}}
<script src="{{{uiRootPath}}}/js/vendor/medium-zoom.js"></script>
<script type="text/javascript">
  mediumZoom('.doc img', {
    background: '#fff'
  })
</script>

<!-- Before the closing </body> -->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />-->
<!--<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>-->
<!-- TODO 需要配置key -->
<!--<script async id="search-script" src="{{{uiRootPath}}}/js/vendor/docsearch.js" data-app-id="CTOKZGN7YQ" data-api-key="294d1dcb70726c453eb9db18c0472709" data-index-name="tgdocs" data-stylesheet="{{{uiRootPath}}}/css/vendor/docsearch.css"></script>-->
<!--<script async id="search-script" src="{{{uiRootPath}}}/js/vendor/docsearch.js" data-app-id="O3H68084TF" data-api-key="9bcf4f7ef4fcaab2b48ebb3d6c4f0cfb" data-index-name="document" data-stylesheet="{{{uiRootPath}}}/css/vendor/docsearch.css"></script>-->
{{#if env.SITE_SEARCH_PROVIDER}}
  {{> search-scripts}}
{{/if}}

